body{
    margin: 0;
    padding: 0;
    background: url(images/lead-experience.jpg) repeat-y;
    background-size: cover;
    width: auto;
    height: auto;
}
.box{
  width: 1100px;
  background: rgba(248, 245, 245, 0.9);
  padding: 10px;
  text-align: center;
  width: auto;
  height: auto;
  margin: auto;
  max-width: fit-content;
  max-height: fit-content;
  margin-top: 1%;
  color: rgb(7, 7, 7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    width: auto;
    height: auto;
}
table, th, td {
    border: 1px solid rgb(7, 7, 7);
}
.box.h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box.h4{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box.p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-size: 25px;
    transition: all ease-in-out 200ms;
}
.box li a:hover{
    color: #6297f8;
}
footer{
    padding: 0;
    font-size: 15px;
    text-align: right;
    bottom: 0;
    margin: 0;
    height: 15px;
    color: white;
    }